# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite
*.sqlite3